<!DOCTYPE html>
<html lang="ru">
  <head>
	<title>RSS для РОИ</title>
	<meta name="description" content="Неофициальный RSS сайта Российской общественной инициативы">
	<link rel="alternate" type="application/rss+xml" title="Инициативы РОИ на голосовании" href="/feeds/petitions/poll/">
  </head>
  <body>
	<h1>Неофициальный RSS сайта Российской общественной инициативы</h1>
	<p>Будьте в курсе новых инициатив сайта РОИ — добавьте в свой RSS‐ридер <a href="/feeds/petitions/poll/">наш фид</a>, составляемый автоматически.</p>
  </body>
</html>
